*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: "Poppins", system-ui;
  background: #1E201E;
  /* padding: 0;
  margin: 0;
  box-sizing: border-box; */
}

img{
  max-width: 100%;
  border-radius: 5px;
}

main{
  padding: 10px ;
  max-width: 700px;
  margin: 0 auto;
}



header{
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; 
  top: 0; 
  z-index: 1; 
  backdrop-filter: blur(10px); 
  background: rgba(92, 92, 92, 0.173);
  width: 100%; 
  left: 0; 
  right: 0; 
}

header a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  

}

header .logo{
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
}

.logo-side-mark{
  color: rgb(203, 0, 203);
  
}

header nav{
  display: flex;
  gap: 35px;
}

.post{
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 20px;
  margin-bottom: 30px;
  margin: 15vh auto;
}

.post .texts h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #ECDFCC;
  

}

.post .texts a{
  text-decoration: none;
}

.post .info {
  margin: 8px 0;
  color: #53544d;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.post .info .author{
  color: rgb(0, 119, 128);
}

.post .summary {
  margin: 10px 0;
  color: #697565;
  line-height: 1.3rem;
}


.login, .Register{
  margin: 15vh auto;
  max-width: 400px;

}

input {
  color: white;
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 7px 10px;
  border-radius: 5px;
  background-color: #1a363673;
  border: 1px solid #697565;
  outline: none;
}

input::placeholder{
  color: rgba(255, 255, 255, 0.514);
}

button {
  width: 100%;
  display: block;
  background: #40534C;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 0;
  cursor: pointer;
  font-size: 14px;
}

button:hover{
  background: #35433d;
}

form.login h1, form.Register h1{
  color: #D6BD98;
  margin-bottom: 25px;
  text-align: center;
}



.create-post {
  background: rgb(203, 0, 203);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 400;
}

.logout {
  background: rgb(203, 0, 0);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
}

.createpost {
  margin: 18vh auto;

}

.createpost form {
  color: #D6BD98;
  
}
